<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-md-4"
        *ngFor="let item of temperaturesData; let i = index"
      >
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="thermostat"
              ></mat-icon>
            </div>
            <h3 class="card-title">Room: {{ item._id }}</h3>
            <h3 class="card-category">
              Temperature: {{ item.temperaturaCelsius }}ºC
            </h3>
            <form [formGroup]="getRoomForm(i)" (click)="handleRoomControls(i)">
              <br />
              <div class="col" style="display: flex; justify-content: baseline">
                <mat-slide-toggle formControlName="isLightOn" id="isLightOn">
                </mat-slide-toggle>
                <label for="">Lights</label>
              </div>
              <br />
              <div class="col" style="display: flex; justify-content: baseline">
                <mat-slide-toggle
                  formControlName="isACOn"
                  [ngModel]="item.isACOn"
                  id="isACOn"
                >
                </mat-slide-toggle>
                <label for="">Air Conditioner</label>
              </div>
              <br />
              <input
                matInput
                placeholder="Número da sala"
                formControlName="_id"
                type="hidden"
                name="_id"
                [ngModel]="item._id"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
