<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div
        class="portrait col-md-6"
        style="display: flex; justify-content: end"
      >
        <img
          src="../../../assets/img/author.jpeg"
          alt="foto do autor do projeto"
        />
      </div>
      <div class="portrait" id="text_speech">
        <h2>Luan Silva</h2>
        <h3>
          Sou um desenvolvedor apaixonado por aprender e por novos desafios.
          Iniciante na carreira mas cheio de vontade de fazer a diferença
        </h3>
        <a href="https://www.linkedin.com/in/luan-silva-25303821a/" target="_blank">
            <i class="fa fa-linkedin"></i>
        </a>
        <a href="mailto:l.carmmo141@gmail.com">
            <i class="fa fa-envelope"></i>
        </a>
        <a href="https://github.com/luan-s1lva/" target="_blank">
            <i class="fa fa-github"></i>
        </a>
      </div>
    </div>
  </div>
</div>
