<div class="container-fluid card">
  <div class="row">
    <fieldset>
      <form [formGroup]="roomForm" (ngSubmit)="handleBehaviour()">
        <legend>
          <strong>Administração de salas</strong>
        </legend>
        <div class="col" style="display: flex; justify-content: center">
          <mat-slide-toggle id="statusSelect" (change)="updateActionVariable()">
            {{ action === "create" ? "Criar sala" : "Destruir sala" }}
          </mat-slide-toggle>
        </div>
        <div class="col">
          <mat-form-field>
            <input matInput placeholder="Número da sala" formControlName="_id" />
          </mat-form-field>
        </div>
        <div style="display: flex;justify-content: center;">
          <button mat-fab color="primary" type="submit">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </form>
    </fieldset>
  </div>
</div>
